<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magic Creative</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <style>
        /* Additional CSS for positioning the button */
        .back-to-upload {
            position: fixed;
            bottom: 10px;
            right: 10px;
            background-color: #BD212F;
            border: 1px solid #ccc;
            padding: 5px 10px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    {% if error %}
        <script>
            alert("No fields found in the uploaded IDML file. Please upload a valid IDML file.");
            window.location.href = "/";
        </script>
    {% else %}
        <form class="form" name="textform" method="post" action="/download">
            <h1>Enter Creative Text</h1>
            {% for field in fields %}
                <label for="{{ field }}">{{ field|capitalize }}:</label>
                <input type="text" id="{{ field }}" name="{{ field }}"><br>
            {% endfor %}
            <button type="button" onclick="submitForm()">Download</button>
        </form>
    {% endif %}

    <!-- Back to Upload button -->
    <form action="/" method="get">
        <button class="back-to-upload" type="submit">Back to Upload</button>
    </form>

    <script>
        function submitForm() {
            document.textform.submit();
            document.textform.reset();
        }
    </script>
</body>
</html>
