<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magic Creative</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <form class = "form" action="/replace" method="post" enctype="multipart/form-data">
        <div class="vert-frame">
        <h1>Replace Image</h1>
        <label for="image">Choose a replacement image:</label>
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Replace Images</button>
        </div>
    </form>
</body>
</html>
