<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magic Creative</title>
    <link rel="stylesheet" href="static/index.css">
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>
    <form class = "form" action="/upload" method="post" enctype="multipart/form-data">
        <div class="vert-frame">
            <h1>Magic Creative</h1>
            <div class="horizontal-frame">
            <label for="file">Choose a .IDML file:</label>
            <input type="file" name="file" accept=".idml" required>
            </div>
            <br>
            <div class="horizontal-frame">
                <label for="replace_images">Replace images in the file:</label>
                <input type="checkbox" name="replace_images" id="replace_images">
            </div>
            <br>
            <button type="submit">Upload</button>
        </div>
    </form>
</body>
</html>
